@import 'assets/scss/config';

$alert-width: 30rem;

.alert {
	position: absolute;
	width: $alert-width;
	top: 2rem;
	left: calc(50% - #{$alert-width/2});
	z-index: 10000;
	box-shadow: 0 0 10px $shadow-color;
}

@include media-breakpoint-down(sm) {
	.alert {
		width: 90%;
		left: 5%;
	}
}