@import 'assets/scss/config';

.form {
	display: block;
	margin: 0 auto;
	margin-top: 20vh;
	width: 25rem;
}

.heading {
	margin-bottom: 2rem;
	text-align: center;
	font-size: 2rem;
}

@include media-breakpoint-down(xs) {
	.form {
		width: 90%;
	}
}