@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";


$primary-color: #fff;
$secondary-color: #2a3690;
$tertiary-color: #3e88c2;

$dark-text: #000;
$light-text: #fff;

$shadow-color: rgb(214, 214, 214);