@import './config.scss';


::-webkit-scrollbar {
	background-color: $shadow-color;
	border-radius: 5px;
}

::-webkit-scrollbar-button {
}

::-webkit-scrollbar-thumb {
	background-color: $tertiary-color;
	border-radius: 5px;
}

body::-webkit-scrollbar {
	width: 0;
	height: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif!important;
}

.circle-button {
	$button-size: 40px;

	border-radius: 50%!important;
	width: $button-size;
	height: $button-size;
}

.section-card {
	border-radius: 25px!important;
	margin: .75rem 0;
	box-shadow: 0 0 5px $shadow-color;
	overflow: hidden;
}