@import './config.scss';

::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.circle-button {
	$button-size: 40px;

	border-radius: 50%!important;
	width: $button-size;
	height: $button-size;
}

.section-card {
	border-radius: 20px!important;
	margin: .75rem 0;
	box-shadow: 0 0 5px $shadow-color;
}