@import 'assets/scss/config';

@include media-breakpoint-down(sm) {
	$button-size-sm: 54px;
	
	.button {
		position: fixed;
		z-index: 10;
		bottom: 1.2rem;
		left: calc(50% - #{$button-size-sm / 2});
		width: $button-size-sm!important;
		height: $button-size-sm!important;
		box-shadow: 1px 1px 5px $shadow-color;
	}
}